# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*local.xml
*local.xml.md5
*local.xml.sha1

# Files from Forge MDK
forge*changelog.txt
