# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Test KFF

on:
  push:
    branches: [ "4.x" ]
  pull_request:
    branches: [ "4.x" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Game Test
      uses: gradle/gradle-build-action@v2
      with:
        arguments: :kfflib:runGameTestServer
        
    - name: Build test
      uses: gradle/gradle-build-action@v2
      with:
        arguments: build
